html, body {
  height: 100%;
}

article img {
  max-width: 100%;
}

.calendar {
  min-width: auto;
}

.sticky-top-10 {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.padding-0 {
  padding: 0;
}

.pagination {
  justify-content: center;
}

.card-image img {
  width: 100%;
}

.parallax {
  z-index: 10;
}

.cursor-pointer {
  cursor: pointer;
}

.flex.empty {
  height: 80%;
  align-items: center;
  justify-content: center;
}

[id^=___plusone] {
  width:65px !important;
}

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}

.pocket-btn {
  display: inline-block;
}
