---
layout: default
---

<div class="columns">
  <main class="column col-9 col-md-12" lang="{{ site.lang }}">
    <header>
      <h1>{{ page.title }}</h1>
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          {{ page.date | date_to_string }}
        </li>
        {% for category in page.categories %}
        <li class="breadcrumb-item">
          <a href="#">
            {{ category }}
          </a>
        </li>
        {% endfor %}
      </ul>
      <span class="tags">
        {% for tag in page.tags %}
        <a class="label" href="#" hidefocus="true">{{ tag }}</a>
        {% endfor %}
      </span>
    </header>
    <div class="divider"></div>
    <article class="pt-10">
      {{ content }}
    </article>

    <div class="divider"></div>
    <ul class="pagination">
      {% if page.previous %}
      <li class="page-item page-prev">
        <a href="{{ page.previous.url | relative_url }}">
          <p class="page-item-subtitle">Previous</p>
          <h3 class="page-item-title">{{ page.previous.title }}</h3>
        </a>
      </li>
      {% endif %}
      {% if page.next %}
      <li class="page-item page-next">
        <a href="{{ page.next.url | relative_url}}">
          <p class="page-item-subtitle">Next</p>
          <h3 class="page-item-title">{{ page.next.title }}</h3>
        </a>
      </li>
      {% endif %}
    </ul>
  </main>
  <div class="divider-vert hide-md padding-0"></div>
  <div class="column col-3 col-md-12">
    {% include sidebar.html %}
  </div>
</div>
